@media all and (min-width:575px) {
    .grid {
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: 0.4fr 1.3fr 1fr 0.3fr;
    }
    .grid-item-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .grid-item-1_div-h1 {
        justify-content: start;
        align-items: center;
    }
    h1 {
        text-align: left;
        margin-left: 0.5em;
    }
    nav ul {
        display: flex;
    }
    .grid-item-2_timer {
        min-width: 35%;
        min-height: 45%;
    }
    .grid-item-3_div {
        display: none;
    }
    .timer-form__input {
        font-size: 1em;
    }
}

@media all and (min-width:800px) {
    .item-3__alert {
        left: 35%;
        right: 35%;
    }
}