* {
  margin: 0px;
  padding: 0px;
  color: #000000dc;
  font-style: sans-serif;
}

.container {
  max-width: 600px;
  min-height: 100%;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 0.6fr 1.3fr 1.8fr 0.3fr;
  min-height: 100%;
}

.grid-item-1 {
  grid-column: 1/4;
  grid-row: 1 / 2;
  background-color: #1faa00;
}

.grid-item-2 {
  grid-column: 1/4;
  grid-row: 2 / 3;
  background-color: #dcedc8;
  display: flex;
  justify-content: center;
}

.grid-item-3 {
  grid-column: 1/4;
  grid-row: 3 / 4;
  background-color: #dcedc8;
}

.grid-item-4 {
  grid-column: 1/4;
  grid-row: 4 / 5;
  background: #1faa00;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.grid-item-1_bar {
  min-height: 10%;
  min-width: 100%;
  background: #167900;
}

.grid-item-1_div-h1 {
  min-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.grid-item-2_timer {
  grid-column: 2;
  min-width: 45%;
  min-height: 55%;
  background: #7dff13;
  border-radius: 10px;
  padding: 0.1em;
  align-self: center;
  display: flex;
  justify-content: center;
}

.grid-item-2_timer p {
  display: none;
  align-self: center;
  font-size: 2.5em;
  text-align: center;
}

.timer_wrap-spinner {
  position: relative;
}

.grid-item-3_div {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.grid-item-3_div button {
  background: #7dff13;
  border: none;
  padding: 1em;
  border-radius: 50%;
  margin: 0 1em 1em 0;
}

#return-btn {
  display: none;
}

.grid-item-4 p {
  margin-top: 0.3em;
  font-size: 1.1em;
  overflow: hidden;
  min-height: 0%;
}

span {
  font-size: 0.8em;
}

.grid-item-3_div button:hover {
  background: #ffffff;
  color: #771b5b;
}

.grid-item-3_div button:hover .fa-2x {
  color: #771b5b;
}

form {
  max-width: 60%;
  display: none;
  flex-direction: column;
  justify-content: center;
}

form p {
  text-align: center;
}

label {
  padding-top: 0.6em;
  color: #000000;
  font-size: 1.2em;
}

input {
  padding: 0.3em;
  margin-top: 0.5em;
  color: #000000;
}

.form_btn-login {
  margin-top: 0.7em;
  background: #76ff03;
  border: transparent;
  border-radius: 1em;
  padding: 0.2em;
  font-size: 1em;
}

.group-btn {
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}
.datetime-folder {
  display: none;
}
.group-days {
  display: none;
}

.group-hours {
  display: none;
}

.group-btn_btn {
  width: 55%;
  margin: auto;
  padding: 0.5em;
  background-color: #76ff03;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
}